.search__control {
  outline: 2px solid #22c514;
  height: 40px;
}

.search__control:focus {
  outline: none !important;
  box-shadow: none !important;
  margin: 0px auto !important;
}

.sort__icon {
  width: 40px !important;
  height: 40px !important;
  color: #22c514 !important;
}

@media screen and (max-width: 400px) {
  .dropdown__main {
    width: 60% !important;
  }
}

.sales__delete__icon {
  height: 50px !important;
  width: 50px !important;
  color: red;
  cursor: pointer;
}
