.title {
  text-align: center;
}
.price {
  text-align: center;
  font-weight: 500;
}
.itemtitle {
  font-weight: 600;
  font-size: 24px;
  margin-left: 1rem;
}
.itemDetail {
  margin-left: 1rem;
}
.Image {
  height: 15vh;
  width: 10vw;
  float: right;
  border-radius: 5%;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.horizontal {
  display: none;
}
.title1 {
  text-align: center;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  background-color: #3eb06b;
}
.box {
  height: 30vh;
  width: 100%;
  border: 2px solid #3eb06b;
  border-radius: 10px;

  background-size: contain;
}
.button {
  float: center;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .box {
    height: 90vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 5%;
  }

  .Image {
    margin-top: -1rem;
    height: 45vh;
    width: 40vw;
    float: right;
    border-radius: 5%;
  }
  .horizontal {
    display: flex;
    color: #298b50;
    height: 5px !important;
  }
}
.product-removal {
  background-color: red;
  border: none;
  width: 100px;
  float: right;
  margin-right: 20px !important;
  width: 100px;
  height: 58px !important;
  margin-top: 10px !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  color: white !important;
}

.box {
  margin: 20px 0px;
}

.checkout__button {
  background-color: #22c514 !important;
  margin-left: 200px;
}

.dash__Line {
  border-bottom: #22c514 !important;
}

.show__border {
  border-bottom: 2px solid #22c514;
}

.add__sign {
  margin: 0px auto !important;
  width: 100px !important;
}
